:root{

  /* ============== FONT ============== */
  --font-main: "Cormorant Unicase", serif;

  /* =========== COLORS =========== */
  --text: #334155;
  --text-muted: #475569;

  --primary: #667EEA;
  --secondary: #764BA2;

  --white: #ffffff;
  --border: rgba(230,235,245,0.9);
  --glass: rgba(255,255,255,0.75);


  /* =================== BACKGROUND ======================== */
  --bg-page: linear-gradient(135deg, #EDEFF2, #C5D0E3);
  --bg-primary: linear-gradient(135deg, var(--primary), var(--secondary));

  /* ===================BORDER-RADIUS================================== */
  --r-s: 10px;
  --r-m: 12px;
  --r-l: 16px;
  --r-xl: 20px;
  --r-2xl: 22px;

  /* ======================== BOX-SHADOW ================================ */
  --sh-s: 3px 2px 10px rgba(0,0,0);
  --sh-m : 3px 10px 26px rgba(106, 90, 205);
  --sh-l: 3px 18px 45px rgba(15,23,42);

  /* =========== OTHER =========== */
  --blur: blur(10px);

  /* ========= LAYOUT ========= */
  --header-pad: 15px 50px;



}
