<%- include('partials/head') %>

<body>
    <header>
    <img class="logo" src="../img/Logo 2.png" alt="logo de blablabook" style="width:130px; ">

        <nav>
            <label for="toggle">☰</label>
            <input type="checkbox" id="toggle">

                <div class="main_pages">
                    <a href="home.html" class="nav-item">Accueil</a>
                    <a href="library.html" class="nav-item">Bibliothèque</a>
                    <a href="books.html" class="nav-item">Rechercher</a>
                    <a href="login.html" class="nav-item">Connexion</a>
                    <a href="profil.html" class="nav-item">Profil</a>
                </div>
        </nav>
    </header>
        <main class="container">
        <h1>Mentions légales</h1>

        <section>
            <h2>1. Éditeur du site</h2>
            <p>
            Le site <strong>BlaBlaBook</strong> est édité par :
            </p>
            <ul>
            <li>Nom / Prénom : Team Nihcolas, Yoann et Manu</li>
            <li>Email : contact@blablabook.fr</li>
            <li>Adresse : Paris</li>
            </ul>
        </section>

        <section>
            <h2>2. Responsable de publication</h2>
            <p>
            Responsable de publication : Team Nihcolas, Yoann et Manu
            </p>
        </section>

        <section>
            <h2>3. Hébergement</h2>
            <p>
            Le site est hébergé par :
            </p>
            <ul>
            <li>Hébergeur : Non applicable (site en cours de développement)</li>
            <li>Adresse : --- </li>
            <li>Téléphone : --- </li>
            </ul>
        </section>

        <section>
            <h2>4. Propriété intellectuelle</h2>
            <p>
            L’ensemble des contenus présents sur le site BlaBlaBook
            (textes, images, logo, design) est protégé par le droit d’auteur.
            Toute reproduction ou copie est interdite sans autorisation préalable.
            </p>
        </section>

        <section>
            <h2>5. Données personnelles</h2>
            <p>
            Le site BlaBlaBook peut collecter certaines données personnelles
            (ex : email) lors de l’inscription ou de la connexion.
            </p>
            <p>
            Ces données sont utilisées uniquement pour le fonctionnement du site
            (gestion du compte utilisateur, bibliothèque personnelle).
            </p>
            <p>
            Conformément au RGPD, vous pouvez demander l’accès, la modification ou
            la suppression de vos données en contactant :
            <strong>blablabook@contact.fr</strong>.
            </p>
        </section>

        <section>
            <h2>6. Cookies</h2>
            <p>
            Le site BlaBlaBook n’utilise pas de cookies de suivi ni de publicité.
            </p>
        </section>
        </main>

<%- include('partials/foot') %>