<%- include('../partials/head') %>


    <link rel="stylesheet" href="/css/profil.css" />

<main class="profil-container">
<section class="profil-box">
        
    <h2>Modifier les informations personnelles</h2>

    <form class="profil-form" method="POST" action="/auth/profile">
    <div class="grid">
        <div class="col">
        <label for="pseudo">Pseudo</label>
        <input type="text" id="pseudo" name="username" placeholder="Pseudo">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email">
        </div>

        <div class="col">
        <label for="current">Mot de passe actuel</label>
        <input type="password" id="current" name="currentPassword"placeholder="Mot de passe actuel">

        <label for="new">Nouveau mot de passe</label>
        <input type="password" id="new" name="newPassword" placeholder="Nouveau mot de passe">

        <label for="confirm">Confirmer le mot de passe</label>
        <input type="password" id="confirm" name="confirmPassword" placeholder="Confirmer le mot de passe">
        </div>
    </div>

    <div class="actions">
        <button type="submit" class="btn-save">Enregistrer</button>
        <button type="button" class="btn-cancel">Annuler</button>
    </div>
    </form>
</section>

<section class="danger-zone">
  <h3>Attention</h3>
  <p>Cette action est irréversible. Toutes vos données seront définitivement supprimées.</p>

  <form
    method="POST"
    action="/auth/delete-account"
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible 😱!')"
  >
    <button class="btn-danger" type="submit">
      Supprimer le compte
    </button>
  </form>
</section>
</main>

<%- include('../partials/foot') %>