body {
    background: linear-gradient(#EDEFF2, #C5D0E3);
}
/* recherche */
.search-box {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 75%;
    margin: 60px auto;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    color: #000;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.search-box input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    background-color: #f9fafb;
}

.filters {
    display: flex;
    gap: 15px;
}

.filters select {
    flex: 1;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    background-color: #f9fafb;
    cursor: pointer;
}

.search-box button {
    width: fit-content;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.8s
}

.search-box button:hover {
    background-color: #6F63C3;
}

/* resultat */

.books {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    margin: 40px auto;

    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.book-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 15px;
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title {
    font-size: 14px;
    font-weight: 600;
    color: #333d4b;
    text-align: center;
}   
.cover {
    background-color: #c8d0dd;
    height: 180px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    color: #5f6b7a;
    text-align: center;
}

.description {
    border: 1px dashed #c8d0dd;
    border-radius: 10px;
    padding: 15px;

    font-size: 12px;
    color: #5f6b7a;
    text-align: center;
}
