 <footer class="footer">
      <a href="legals.html">Mentions légales</a> |
      <a href="contact.html">Contact</a> | © 2026 BlaBlaBook <br /><em
        >Développé par la team Nicolas, Yoann et Manu</em
      >
    </footer>
  </body>
</html>