 <footer class="footer">
      <a href="/legals">Mentions légales</a> |
      <a href="/contact">Contact</a> | © 2026 BlaBlaBook <br /><em
        >Développé par la team Nicolas, Yoann et Manu</em
      >
    </footer>
  </body>
  
</html>