<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> BlaBlaBook</title>

    <link rel="icon" type="image/png" href="/img/Favicon.png" />
    <script src="/js/script.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/404.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/book.css" />
    <link rel="stylesheet" href="/css/books.css" />
    <link rel="stylesheet" href="/css/library.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/profil.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/legals.css" />
    <link rel="stylesheet" href="/css/contact.css" />

</head>

<body>
    <header>
    <img class="logo" src="../img/Logo 2.png" alt="logo de blablabook" style="width:130px; ">

    <nav>
    <label for="toggle">☰</label>
    <input type="checkbox" id="toggle">

    <div class="main_pages">
    <a href="/" class="nav-item ">Accueil</a>
    <a href="/library" class="nav-item">Bibliothèque</a>
    <a href="/books" class="nav-item">Rechercher</a>
    <a href="/auth/login" class="nav-item">Connexion</a>
    <a href="/profil" class="nav-item">Profil</a>
    </div>
</nav>
    </header>