<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> BlaBlaBook</title>

    <link rel="icon" type="image/png" href="/img/Favicon.png" />
    <script src="/js/script.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/base.css" />


</head>

<body>
    <header>
      
    <img class="logo" src="../img/Logo 2.png" alt="logo de blablabook" style="width:130px; ">

    <nav>
    <label for="toggle">☰</label>
    <input type="checkbox" id="toggle">

    <div class="main_pages">
    <a href="/" class="nav-item ">Accueil</a>
    <a href="/books" class="nav-item">Rechercher</a>
    <% if(locals.user?.isAuthenticated) {%>
    <a href="/library" class="nav-item">Bibliothèque</a>
    <a href="/auth/profile " class="nav-item" >Mon profil</a>
    <a href='/auth/logout'class="nav-item active">Se déconnecter</a>
    <%} else {%>
    <a href='/auth/login'class="nav-item">Se connecter</a>
    <%}%>
    

    </div>
</nav>
    </header>
